.git
.gitignore
**/node_modules
**/dist
tmp
.env
.env.*
!.env.example
.terraform
terraform
openspec
k8s-manifests
config
scripts
README.md
SETUP.md
build-compose.yml
compose.yml
hackz-megalo.code-workspace
